@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Barter Bot</h1>
    <p class="lead">Borter Bot provides you the platform for exchanging your skills with great ease!</p>
</div>







<div class="row">
    <div class="col-md-8">

        <div class="container" style="width: 700px;">
            <h2>Exchange Your Skills!</h2>
            <p>
                Everyone is good at something. Something that one can do efficiently, and obviously for others. <br>
                Borter Bot provides you the oppurtunity to sell your skills to others on time/money basis and in return, you will get the benefits of others'
                skills. <br> So What are you waiting for. Go for it. <b>Register Yourself!</b> <br> The bot is yours!
            </p>
        </div>

    </div>
    <div class="col-md-4">
        <img src="~/Images/botpic.jpg" width="279" height="182"/>

    </div>
</div>